<% layout( 'layout' ) -%>

<h1 id="page-title"><%= title %></h1>
<br>
<div class='form-box'>
  <form action="/create" class='form-inline' method="post" accept-charset="utf-8">
    <div class="form-group">
      <label for="item_name">Shoping Item:</label>
      <input type="text" required class="form-control" name='item_name' id="item_name" placeholder="Item name">
    </div>
    <div class="form-group">
      <label for="qty">Quantity:</label>
      <input type="number" required class="form-control" name='quantity' id="qty" placeholder="Enter quentity">
    </div>
    <button type="submit" class="btn btn-success">Add Item</button>
  </form>
 </div>
<br><br>
 <div class='cart_box'>
   <table class='table'>
   <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Delete item</th>
   </tr>
  <% Carts.forEach( function ( cart ){ %>
      <tr>
      <td>

      <% if( cart._id == current && edit_column =='name'){ %>
        <form class="update-form" action="/update/<%= cart._id %>" method="post" accept-charset="utf-8">
         <div class='form-group'>
         <input class="form-control animated bounce" type="text" name="item_name" value="<%= cart.item_name %>" /><br>
         <input type='submit' name='submit' class='btn btn-success pull-right' value='Save'>
          </div>
        </form>
      <% }else{ %>
          
          <a class="btn btn-default" href="/edit/<%= cart._id %>/name" title="Update this cart item">
          <span class="glyphicon glyphicon-edit"></span>&nbspEdit
          </a> &nbsp
          <%= cart.item_name %>

          <% } %>      

      </td>
      <td>
      <% if( cart._id == current && edit_column =='quantity'){ %>
     <form class="update-form" action="/update/<%= cart._id %>" method="post" accept-charset="utf-8">
      <div class='form-group'>
        <input class="form-control animated bounce" required type="text" name="quantity" value="<%= cart.quantity %>" />
        <input type='submit' name='submit' class='btn btn-success pull-right' value='Save'>
      </div>
    </form>
    <% }else{ %>
        <a class="btn btn-default" href="/edit/<%= cart._id %>/quantity" title="Update this cart item">
      <span class="glyphicon glyphicon-edit"></span>&nbspEdit
      </a>
      <%= cart.quantity %>

        
    <% } %>
      </td>
      <td>
      <a class="btn btn-danger" href="/destroy/<%= cart._id %>" title="Delete this cart item"><span class="glyphicon glyphicon-trash"></span>Delete</a>
      </td>
  <% }); %>
  </table>
</div>
